<div class="post clearfix">
  <div class="avatar">
    <%= image_tag post.user.avatar.url(:thumb) %>
  </div>

  <div class="user_info">
    <div class="user_name">
      <%=h post.user.name %>
    </div>

    <div class="user_title" %>
      <%=h post.user.title %>
    </div>

    <div class="user_status" %>
      Logged In
    </div>
  </div>
  <div class="post_content">
    <p><%=h post.content %></p>
  </div>
</div>
