<header class="posts_header">
  Make a Post 4.50; Discuss. <%= link_to "( Newest Post )", posts_url %>
  <%= link_to image_tag('settings.png'), edit_users_url %>
</header>
<%= render @posts %>
<h4>Quick Reply</h4>
<%= render :partial => "new" %>
