/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body {
  background-color: black;
  color: #a6a6a6;
  font-family: 'Segoe UI Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
  margin: auto;
  max-width: 940px;
  min-width: 560px;
}

h1 {
  font-weight: 100;
  font-size: 36pt;
}

h3 {
  font-weight: 100;
  font-size: 24pt;
}

h4 {
  font-weight: 100;
  font-size: 18pt;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover { color: #f00; }
}

.clearfix {
  clear: both;
}

.logout {
  float: right;
}

/* forms */
.two_column_form {
  width: 500px;

  .form_field {
    clear: both;

    input {
      float: right;
      background: #000;
      border: 1px solid #4d4d4d;
      color: #a6a6a6;
      display: inline-block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14pt;
      font-weight: 100;
      margin-bottom: 0.8em;
      padding: 0.2em 0.3em;
      &:focus {
        border-color: #a6a6a6;
        outline: none;
      }
    }

    label {
      margin-top: 10px;
      float: left;
    }
  }

  .form_action {
    clear: both;
    float: right;
    input a { clear: both; float: right;}
  }
}
