.posts_header {
  font-weight: 100;
  font-size: 24pt;
  margin-top: 20px;

  a {
    font-size: 18pt;
  }

  img {
    float: right;
    position: relative;
    top: 10px;
  }
}

.post {
  background-color: #373737;
  color: white;
  min-height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .avatar {
    padding-top: 10px;
    float: left;
  }

  .user_info {
    padding: 6px 10px 10px 10px;
    height: 4px;

    .user_name {
      float: left;
      padding-left: 10px;
      margin-top: -6px;
      font-size: 20pt;
      font-weight: 100;
    }

    .user_title {
      float: left;
      margin-left: 20px;
      color: gray;
    }

    .user_status {
      float: right;
    }
  }

  .post_content {
    padding: 0 20px 0 90px;

    p {
      overflow: auto;
    }
  }
}

.add_post {
  float:right;
  padding: 6px 10px 6px 10px;
  margin: 3px 0 3px 0;
  background-color: #333333;
}
