<!DOCTYPE html>
<html>
<head>
  <title>Make a Post</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>GLMP</h1>
  </header>
  <%= yield %>
</body>
</html>
